@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.container {
  max-width: 80%;
  margin-inline: auto;
  width: 100%;
}
header {
  right: 0;
  left: 0;
  position: sticky;
  top: 0;
  z-index: 999;
}

nav {
  display: flex;
  height: 75px;
  align-items: center;
  background-color: #ffc017;
  border-bottom: 2px solid black;
}

.cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rightB {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}
.rightB button {
  border: solid black 10px;
  border-radius: 20px;
  background-color: black;
  color: white;
  cursor: pointer;
}
.hero {
  background-color: #ffc017;

  border-bottom: 2px solid black;
  display: flex;
}
.n1 {
  display: flex;
  max-width: 55%;
}
.n2 {
  display: flex;
  flex-wrap: wrap;
  max-width: 720px;
  padding-top: 100px;
}
h1 {
  font-weight: 400;
  font-family: Spectral, serif;
  font-size: 85px;
  letter-spacing: -0.055em;
  padding-bottom: 15px;
}
.n2 button {
  margin-top: 30px;
  padding: 5px;
  background-color: black;
  color: white;
  border-radius: 15px;
  text-align: center;
  width: 180px;
  margin-bottom: 50px;
}
.svgM {
  position: absolute;
  right: 0;
}
.svgM img {
  height: 360px;
}
.n2 span {
  font-size: 22px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}
.trending {
  display: flex;
  margin-top: 50px;
  width: 100%;
  color: #191919;
}
.firstTrending {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.firstTrending span {
  font-weight: 600;
  padding-left: 15px;
}
span {
  font-family: Roboto, sans-serif;
}
.card {
  width: 30%;
  display: flex;
}
.number {
  width: 20%;
}
.number span {
  font-weight: 800;
  font-size: 30px;
  color: #e5e6e6;
}
.cardContent {
  width: 80%;
}
.box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.cardContent span {
  font-size: 14px;
  font-weight: 600;
}
h3 {
  font-family: Roboto, sans-serif;
  font-weight: 800;
}
p {
  color: #857874;
  font-family: Roboto, sans-serif;
  padding-right: 5px;
}
.cardContent img {
  border-radius: 50%;
  width: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 5px;
}
.cardImgC {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.pCard {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.trendingContent {
  padding-bottom: 30px;
  border-bottom: solid #857874 1px;
}
.contFlex {
  display: flex;
}
.leftBox {
  width: 65%;
}
.bigBox {
  margin-top: 60px;
}
.imgSpan img {
  border-radius: 50%;
  width: 23px;
}
.imgSpan {
  display: flex;
  flex-wrap: wrap;
  margin-right: 5px;
  align-items: center;
  padding-bottom: 10px;
}
.imgSpan span {
  font-weight: 600;
}
.lTextArea h2 {
  font-size: 25px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  padding-bottom: 10px;
}
.span2 {
  color: #857874;
  font-weight: 400;
}
.pContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lBoxContent {
  display: flex;
  align-items: end;
  margin-bottom: 45px;
}
.imgLBox img {
  width: 100%;
}
.lTextArea {
  width: 100%;
  margin-right: 20px;
}
.pCard span {
  border: 3px solid #f1f2f2;
  background-color: #f1f2f2;
  border-radius: 15px;
}
aside {
  width: 35%;
  margin-left: 80px;
}
aside h2 {
  font-family: Roboto, sans-serif;
  font-weight: 800;
  font-size: 13px;
  margin-bottom: 10px;
}
.buttonDiv {
  word-spacing: 5px;
  line-height: 2.5em;
  padding-bottom: 30px;
  border-bottom: solid 1px #857874;
  padding: 5px;
}
.buttonDiv span {
  color: #857874;
  border: 1px solid #857874;
  padding: 5px;
}
.others {
  margin-top: 20px;
  word-spacing: 20px;
}
.others a {
  color: #857874;
  line-height: 30px;
  text-decoration: none;
}
